{% extends "base.html" %}
{% block content %}
{% if papers %}
  <table id="papertable" border=1 width=80%>
    <tr>
      <th width=22%>Title</th>
      <th width=22%>Authors</th>
      <th width=10%>Year</th>
      <th width=35%>Notes</th>
      <th width=6%>Actions</th>
    </tr>
  {% for paper in papers %}
    <tr>
      <td><a href="{{url_for('static', filename='papers/'+paper.path)}}">{{paper.title}}</a></td>
      <td>{{", ".join(paper.authors)}}</td>
      <td>{{paper.year}}</td>
      <td>{{paper.notes}}</td>
      <td align="center">
	<i class="fa fa-pencil fa-lg"></i>
	<!--<img src="{{url_for('static', filename='images/Edit.png')}}" width=24 height=24 /> -->
	<a class="icon-anchor" href="{{url_for('delete')}}?paperid={{paper.paperid}}"><i class="fa fa-trash-o fa-lg" onclick="return confirm('Are you sure you want to delete the paper? This action cannot be undone.')"></i></a>
      </td>
    </tr>
  {% endfor %}
  </table>
{% else %}
<p>No papers found.</p>
{% endif %}
{% endblock %}
