{% extends "base.html" %}
{% block content %}
{% if papers %}
  <table id="papertable" border=1 width=80%>
    <tr>
      <th width=25%>Title</th>
      <th width=25%>Authors</th>
      <th width=10%>Year</th>
      <th width=35%>Notes</th>
    </tr>
  {% for paper in papers %}
    <tr>
      <td><a href="{{url_for('static', filename='papers/'+paper.path)}}">{{paper.title}}</a></td>
      <td>{{", ".join(paper.authors)}}</td>
      <td>{{paper.year}}</td>
      <td>{{paper.notes}}</td>
    </tr>
  {% endfor %}
  </table>
{% else %}
<p>No papers found.</p>
{% endif %}
{% endblock %}
